/**
 * @Author: Administrator
 * @Date:   2017-05-27 05:05:02
 * @Last Modified by:   Emil Zhai
 * @Last Modified time: 2017-08-21 17:37:38
 */
body.mobile,
html.mobile {
  color: #000;
  background: #fff;
  font-family: "system-ui", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif;
  line-height: 1.5;
  font-size: 14px;
  height: 100%;
  width: 100%;
}

html.mobile {
  * {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
  }

  a {
    text-decoration: none;
  }

  .body-wrapper {
    min-height: 100%;
    background: #f5f5f5;

    &.flex {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
