/*
* @Author: Administrator
* @Date:   2017-05-27 05:05:02
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-29 04:02:14
*/
body, html {
	background: #fff;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	line-height: 1.5;
	font-size: 14px;
}